/*NAV MENU*/
#navmenu {
    width: 28px;
    height: 28px;
}

#navmenu>span {
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 9999px;
    background: black;
}

#navmenu>span:not(:last-child) {
    margin-bottom: 7px;
}

#navmenu, #navmenu>span {
    transition: all .4s ease-in-out;
}


/*NAV MENU (class active)*/

#navmenu.active {
    transition-delay: 0.8s;
    transform: rotate(45deg);

}

#navmenu.active>span:nth-child(2) {
    width: 0;
}

#navmenu.active>span:nth-child(1),
#navmenu.active>span:nth-child(3) {
    transition-delay: .4s;
}

#navmenu.active>span:nth-child(1) {
    transform: translateY(9px);
}

#navmenu.active>span:nth-child(3) {
    transform: translateY(-9px) rotate(90deg);
}

/*LOADING */

div.loading .svg_loading{
    position: absolute;
    z-index: 10;
    scroll-snap-align: center;
    width: 100%;
    top: 100px;
    animation: catching_loading 1s infinite;
}

@keyframes catching_loading {
    0%{
        rotate:0deg;
    }
    25%{
        rotate:20deg;
    }
    75%{
        rotate:-20deg;
    }
    100%{
        rotate:0deg;
    }
}